*{
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}

.container{ 
    border: 7px solid rgb(53, 121, 121);
    border-radius: 10px;
    background-color: rgb(53, 53, 53);
    padding: 1rem;

}

header{
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}